html, body {
	width: 100%;
	height: 100%;
	overflow:hidden;
}

body {
	background-color:#0e0e0e;
	margin: 0px;
}



#flash {
	width:100%;
	height:100% !important;
}
.jw-media object {
	width:100%;
	height:100%;
}
.jw-tab-focus:focus {
    outline: none !important;
}
#flash .jw-slider-time, #flash .jw-text-duration {
	display:none;
}
#flash .jw-controlbar-center-group {
	max-width:0;
}
#flash .jw-controlbar-center-group, #flash .jw-text-elapsed {
	font-family: Century Gothic, CenturyGothic, AppleGothic, CG, sans-serif;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#flash .jw-rightclick {
	display:none !important;
}
.jw-skin-seven .jw-controlbar-right-group .jw-icon-tooltip::before, .jw-skin-seven .jw-controlbar-right-group .jw-icon-inline::before {
	border-left:none !important;
}
#flash .jw-icon-hd.jw-off {
    color:#555;
}
#hd-led {
	color:#3da73c;
	font-size:9px;
	line-height:32px;
	position:absolute;
	top:0px;
	left:-2px;
	
	color:#3da73c;
	text-shadow:0px 0px 7px #3da73c;
}
.jw-off #hd-led {
	color:#444;
	text-shadow:none;
}
.fa {
	font-family:FontAwesome !important;
}
.fa-expand::before {
    content:"" !important;
}
.fa-expand.jw-off::before {
    content:"" !important;
}
.fa-external-link {
	line-height:35px !important;
}






